body {
    background-color:rgb(249, 252, 255);
    justify-content: center;
    align-items: center;
}

#caixa {
    margin-left: 34%;
    margin-top: 10%;
    width: 23em;
    height: 14em ;
    border-radius: 3em;
    align-items: center;
    justify-content: center;
    background-color: rgb(214, 250, 250);
    text-align: center;
    padding-top: 2%;
}

